{:deps {zprint/zprint {:mvn/version "1.2.9"}}
 :tasks
 {:requires ([babashka.fs :as fs]
             [babashka.process :refer [shell]]
             [clojure.string :as str])
  :init (defn sh [& args]
          (apply shell {:dir "." :out :inherit :err :inherit} args))

  build:gen {:task (do
                     (shell {:dir "site-dsl"} "npm" "ci")
                     (shell {:dir "site-dsl"} "npx" "shadow-cljs" "compile" "node-script")
                     (shell {:dir "site-dsl"} "node" "target/main.js"))}

  build:bundle {:task (do
                        (shell {:dir "web"} "npm" "ci")
                        (shell {:dir "web"} "npm" "run" "build"))}

  build:site {:depends [build:gen build:bundle]}

  lint:kondo {:task (do
                      (println "Linting with clj-kondo…")
                      (sh "clj-kondo" "--version")
                      (sh "clj-kondo" "--lint" "site-dsl/src" "scripts" "config"))}

  fmt:write {:task (do
                     (sh "find" "." "-name" "*.clj" "-exec" "zprint" "--write" "{}" "\\;")
                     (sh "find" "." "-name" "*.cljs" "-exec" "zprint" "--write" "{}" "\\;")
                     (sh "find" "." "-name" "*.edn" "-exec" "zprint" "--write" "{}" "\\;")
                     (println "Formatted (80 cols) Clojure files."))}

  fmt:check {:task (do
                     (println "Use fmt:write to enforce formatting.")
                     (sh "echo" "OK"))}

  clean {:task (do (fs/delete-tree "web/build" {:force true})
                   (println "cleaned web/build"))}

  build:all {:depends [build:site lint:kondo fmt:check]}
  serve {:task (do (shell {:dir "."} "bb" "scripts/serve.clj"))}}}