{:config-paths ["config"]
                                      :lint-as {clojure.core.async/go-loop clojure.core.async/go}
                                      :linters {:unused-namespace {:level :warning}
                                                :unused-var {:level :warning}
                                                :unresolved-symbol {:level :error}}
                                      :clj-kondo/ignore-for-ns {site.parser [unresolved-symbol]}
                                      :output {:format :edn :analysis true}}