{:linters
 {:unused-public-var {:level :warning}
  :unused-binding {:level :warning}
  :unresolved-var {:level :error}
  :unresolved-symbol {:level :error}
  :redundant-fn-wrapper {:level :warning}
  :missing-docstring {:level :off}
  :type-mismatch {:level :warning}
  :syntax {:level :error}
  :invalid-arity {:level :error}
  :format {:level :warning}
  :redefined-var {:level :warning}
  :unreachable-code {:level :warning}}
 
 :config-in-ns {site.specs {:linters {:unresolved-symbol {:exclude [s/def s/valid?]}}}}
 
 :paths ["site-dsl/src" "build" "scripts" "config" "test"]
 
 :config-in-call
 {clojure.core/defn {:args [[:sym & _]]}
  clojure.core/defn- {:args [[:sym & _]]}
  clojure.test/deftest {:args [[:sym & _]]}
  clojure.spec.alpha/def {:args [[:sym & _]]}
  babashka.process/shell {:args [& :any]}}
 
 :lint-as {babashka.fs/glob clojure.core/for
           babashka.process/shell clojure.core/->}
 
 :skip-comments true
 :parallel true}

